<%- include('../partials/header') %>
<h5>Make a New Lab Entry</h5>

<form action="/labs/<%= user._id %>" method="POST">
  <div class="row">
    <div class="col s6">
      <label>pH
        <input type="number" step="0.01" name="pH">
      </label><br>
      <label>Ammonia (mg/L)
        <input type="number" step="0.01" name="ammonia">
      </label><br>
      <label>MLSS (mL/L)
        <input type="number" step="0.01" name="mlss">
      </label><br>
      <label>Waste volume (m3)
        <input type="number" step="0.01" name="wasteVol">
      </label><br>
      <label>Inlet turbidity (NTU)
        <input type="number" step="0.01" name="inletTurbidity">
      </label><br>
      <label>Outlet turbidity (NTU)
        <input type="number" step="0.01" name="outletTurbidity">
      </label><br>
      <label>Coagulant dosage (mg/L)
        <input type="number" step="0.01" name="coagDose">
      </label><br>
      <label>Date
        <input type="date" name="date">
      </label><br>
      <div class="input-field">
        <button type="submit" class="btn waves-effect waves-light">Add lab results</button>
      </div>
    </div>
  </div>
</form>

<%- include('../partials/footer') %>
