<%- include('../partials/header') %>
<h2>Enter a New Lab</h2>

<form action="/labs/<%= user._id %>" method="POST">

  <label>Reactive phosphorous:
    <input type ="number" step="0.01" name="reactPh">
  </label><br>
  <label>pH:
    <input type ="number" step="0.01" name="pH">
  </label><br>
  <label>Ammonia:
    <input type ="number" step="0.01" name="ammonia">
  </label><br>
  <label>Temperature:
    <input type ="number" step="0.01" name="temperature">
  </label><br>
  <label>Dissolved oxygen:
    <input type ="number" step="0.01" name="dissOx">
  </label><br>
  <label>MLSS:
    <input type="number" step="0.01" name="mlss">
  </label><br>
  <label>Waste volume (m3):
    <input type="number" step="0.01" name="wasteVol">
  </label><br>
  <label>Date:
    <input type="date" name="date">
  </label><br>
  <input type="submit" value="Add lab results">
</form>

<%- include('../partials/footer') %>
