<!DOCTYPE html>
<html>
  
<head>
  <title>Daily Lab Data</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <nav>
      <ul>
        <li>
          <a href="/">Daily Lab Data</a>
        </li>
        <li>
          <a href="/labs">View Lab Entries</a>
        </li>
        <li>
          <a href="/labs/new">Create Lab Entry</a>
        </li>
      </ul>
      <ul class="right">
        <li>
        <% if (user) { %>
          <a href="/logout">Log Out</a>
        <% } else { %>
          <a href="/auth/google">Login with Google</a>
        <% } %>
        </li>
      </ul>
    </nav>