body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  position: sticky;
  top: 0;
}

th {
  position: sticky;
  top: 55px;
  background: white;
}

.table {
  table-layout: fixed;
  width: 100%;
}

.calculators {
  margin-top: 20px
}

.calcInputTwo {
  margin-top: 25px
}

.submit {
  margin-bottom: 0px
}

.form {
  margin: 20px 0 10px 0
}

.calcDescription {
  margin-top: 10px;
}

#ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75px;
}